:root {
  --background-primary: #f4f2ee;
  --background-secondary: #fff;
  --border-color: #d4d4d4;
  --overlay-background: rgba(244, 242, 238, 0.5);
  --skeleton-overlay: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(200 200 200 / 20%) 45%,
    rgb(200 200 200 / 20%) 55%,
    rgba(255, 255, 255, 0) 100%
  );
  --scrollbar-color: #2d2d2d;

  --glassmorphism-background: rgb(129 129 129 / 45%);

  --green: rgb(201 255 233);
  --red: #ff3434;

  --max-width: 1366px;
  --border-radius: 0.5rem;

  --fade-in-animation: fade-in;
  --fade-out-animation: fade-out;
  --middle-to-bottom-animation: middle-to-bottom;
  --bottom-to-middle-animation: bottom-to-middle;
}

* {
  color: #4b4b4b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #000;
    --background-secondary: #111111;
    --border-color: #272727;
    --overlay-background: rgba(0, 0, 0, 0.5);
    --skeleton-overlay: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255 255 255 / 20%) 45%,
      rgb(255 255 255 / 20%) 55%,
      rgba(255, 255, 255, 0) 100%
    );
    --scrollbar-color: #2d2d2d;

    --glassmorphism-background: rgba(8, 8, 8, 0.45);

    --green: rgb(3 21 26);
    --red: #a70000;
  }

  * {
    color: #d1d1d1;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes middle-to-bottom {
  to {
    transform: translate(-50%, 100%);
  }
}

@keyframes bottom-to-middle {
  from {
    top: 100%;
    right: 50%;
    transform: translateX(-50%);
  }
}
