.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mainWrapper {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
  max-width: var(--max-width);
  margin: 2rem auto;
  padding-inline: 2rem;
}

@media (max-width: 560px) {
  .mainWrapper {
    grid-template-columns: 1fr;
  }
}
